<div class="modal" id="call-phone-js">
    <div class="modal-close">
        <a href="#" class="modal-close__link"></a>
    </div>
    <div class="modal-wrapper">
        <div class="modal-title">
            <a href="#" class="modal-title__link">
                <img src="%=static=%img/assets/modal/logo.png"  class="modal-logo" alt="">
            </a>
        </div>
        <div class="modal-description">
            <p class="modal-description-text">
                Закажите обратный звонок прямо сейчас и наш специалист перезвонит вам в течение 23 секунд.
            </p>
        </div>
        <div class="modal-form">
            <form action="#" enctype="application/x-www-form-urlencoded" autocomplete="off" class="modal-form-container">
                <div class="form-row">
                    <input type="text" class="input-text name-js" name="name" placeholder="Введите Ваше имя">
                </div>
                <div class="form-row">
                    <input type="tel" class="input-text phone-js" name="name" placeholder="Введите Ваш телефон">
                </div>
                <div class="form-row">
                    <input type="email" class="input-text email-js" name="name" placeholder="Введите Ваш e-mail">
                </div>
                <div class="form-row submit-row">
                    <button class="btn btn-red-shadow" type="submit">Заказать звонок</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="get-lesson-js">
    <div class="modal-close">
        <a href="#" class="modal-close__link"></a>
    </div>
    <div class="modal-wrapper">
        <div class="modal-title">
            <a href="#" class="modal-title__link">
                <img src="%=static=%img/assets/modal/logo.png"  class="modal-logo" alt="">
            </a>
        </div>
        <div class="modal-description">
            <p class="modal-description-text">
                Оставьте свои контактные данные прямо сейчас и в течение 23 секунд мы вышлем вам на e-mail первый урок абсолютно бесплатно.
            </p>
        </div>
        <div class="modal-form">
            <form action="#" enctype="application/x-www-form-urlencoded" autocomplete="off" class="modal-form-container">
                <div class="form-row">
                    <input type="text" class="input-text name-js" name="name" placeholder="Введите Ваше имя">
                </div>
                <div class="form-row">
                    <input type="tel" class="input-text phone-js" name="name" placeholder="Введите Ваш телефон">
                </div>
                <div class="form-row">
                    <input type="email" class="input-text email-js" name="name" placeholder="Введите Ваш e-mail">
                </div>
                <div class="form-row submit-row">
                    <button class="btn btn-red-shadow" type="submit">Получить первый урок</button>
                </div>
            </form>
        </div>
    </div>
</div>
