// Common styles of the project

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.page {
    
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

.message-page{

    background-color: $messages-bg;
}

.message-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.rub{
    background: url(%=static=%assets/program/rub.svg) no-repeat;
    display: inline-block;
    height: 35px;
    margin: 0;
    width: 25px;
}