<div class="footer">
    <div class="footer-wrapper">
        <div class="footer-logo">
            <a href="#" class="footer-logo-link">
                <img class="footer-logo-img" src="%=static=%img/assets/footer/footer-logo.png" alt="">
            </a>
        </div>
        <h3 class="footer-title">Остались сомнения?</h3>
        <div class="footer-sale">
            <p class="footer-offer">Получите первый урок абсолютно бесплатно!</p>
            <p class="footer-offer-btn-container">
                <button class="footer-btn btn-red">Получить первый урок</button>
            </p>
        </div>
        <div class="copyrights">
            <span class="copyrights-row">&copy; 2016 SketchSchool. Все права защищены.</span>
            <span class="copyrights-row"><a href="#" class="copyright-link">Политика конфиденциальности</a></span>
        </div>
    </div>
</div>