<div class="comments">
    <div class="comments-wrapper">
        <div class="left-part">
            За 2016 год из новичков
            вырастили более <span id="js-students" data-end-count="1367" class="count-students">0</span>
            профессионалов
        </div>
        <div class="right-part">
            <div class="list-comments">
                <ul class="list-comments__container">
                    <li class="list-comment__item">
                        <p class="comment-text">Меня очень радует возможность обратной связи. Это очень помогает расти,
                            когда твою работу можно обсудить с мастером. Различные педагоги помогали мне обратить
                            внимание на недочеты, и если необходимо отправляли необходимый материал или советовали
                            пройти тот или иной урок. Это удобно.</p>
                        <p class="comment-author">Светлана, г. Самара</p>
                    </li>
                    <li class="list-comment__item">
                        <p class="comment-text">Меня очень радует возможность обратной связи. Это очень помогает расти,
                            когда твою работу можно обсудить с мастером. Различные педагоги помогали мне обратить
                            внимание на недочеты, и если необходимо отправляли необходимый материал или советовали
                            пройти тот или иной урок. Это удобно.</p>
                        <p class="comment-author">Светлана, г. Самара</p>
                    </li>
                    <li class="list-comment__item">
                        <p class="comment-text">Меня очень радует возможность обратной связи. Это очень помогает расти,
                            когда твою работу можно обсудить с мастером. Различные педагоги помогали мне обратить
                            внимание на недочеты, и если необходимо отправляли необходимый материал или советовали
                            пройти тот или иной урок. Это удобно.</p>
                        <p class="comment-author">Светлана, г. Самара</p>
                    </li>
                    <li class="list-comment__item">
                        <p class="comment-text">Меня очень радует возможность обратной связи. Это очень помогает расти,
                            когда твою работу можно обсудить с мастером. Различные педагоги помогали мне обратить
                            внимание на недочеты, и если необходимо отправляли необходимый материал или советовали
                            пройти тот или иной урок. Это удобно.</p>
                        <p class="comment-author">Светлана, г. Самара</p>
                    </li>
                    <li class="list-comment__item">
                        <p class="comment-text">Меня очень радует возможность обратной связи. Это очень помогает расти,
                            когда твою работу можно обсудить с мастером. Различные педагоги помогали мне обратить
                            внимание на недочеты, и если необходимо отправляли необходимый материал или советовали
                            пройти тот или иной урок. Это удобно.</p>
                        <p class="comment-author">Светлана, г. Самара</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
