.comments{
  position: relative;
  max-width: 100%;
  min-width: 320px;
}

.comments-wrapper{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1190px;
  min-width: 320px;
  margin: 0 auto;
  padding: 170px;
}

.comments-wrapper .right-part{
    width: 40%;
}

.comments-wrapper .left-part{
  width: 60%;
}

.comments-wrapper .left-part{
  color: $purple;
  font-size: 3rem;
  font-weight: 300;
}

.count-students{
  color: $red;
}

.list-comments{
  background: url(%=static=%assets/comments/quotes.png) no-repeat;
  padding: 35px 0 0;
}

.list-comments__container{
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-text{
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 45px;
}

.comment-author{
  font-size: 1.125rem;
  font-weight: 500;
}

.slick-slide:focus{
  outline: none;
}

.list-comments__dots{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: -70px;
}

.list-comment__item{
  cursor: pointer;
}

.list-comments__dots li{
  list-style: none;
  background: url(%=static=%assets/comments/dot.png) no-repeat;
  background-position: center center;
}

.list-comments__dots li.slick-active{
  list-style: none;
  background: url(%=static=%assets/comments/current-dot.png) no-repeat;
  background-position: center center;
}

.list-comments__dots button{
  opacity: 0;
  width: .01rem;
  height: .01rem;
}