.header-message{
  position: relative;
  min-width: 320px;
  width: 100%;
  margin: 0 0 90px;
  padding: 40px 0 0;
  overflow: hidden;
}

.header-message-wrapper{
  max-width: 1190px;
  min-width: 280px;
  margin: 0 auto;
}

@media all and (max-width: 1220px){
  .header-message-wrapper{
    margin: 0 20px;
  }
}