<div class="about">
    <div class="about-wrapper">
        <div class="about-left-content wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.5s">
            <h3 class="about-left-content__title">About</h3>
            <p class="about-left-content__description">
                Таким образом укрепление и развитие структуры способствует подготовки и реализации позиций, занимаемых
                участниками в отношении поставленных задач. Не следует, однако забывать, что укрепление и развитие
                структуры представляет собой интересный эксперимент проверки новых предложений.
            </p>
        </div>
        <div class="about-right-content wow fadeInUp" data-wow-duration="1s" data-wow-delay="3s">
            <div class="about-right-content__wrapper">
                <img class="about-right-content__img" src="%=static=%img/assets/about/new-york.jpg" alt="">
            </div>
        </div>
        <div class="pencil-block"></div>
    </div>

</div>
