<header class="header">
    <div class="header-wrapper">
        <div class="top">
            <div class="logo">
                <a href="#" class="logo-link">
                    <img class="logo-img" src="%=static=%img/assets/header/logo.png" alt="">
                </a>
            </div>
            <div class="phone">
                <span class="phone-link"><a class="phone-link__item" href="tel:+78002321444">8 (800) 232 14 44</a></span>
                <a href="#" class="modal call-js">Заказать обратный звонок</a>
            </div>
        </div>
        <div class="bottom">
            <div class="left-part"><h1 class="title-page">
                <span class="block-text">От новичка</span>
                <span class="block-text">до профессионала</span> 
                <span class="block-text">за 30 дней</span></h1>
                <p class="header-description">
                    В онлайн школе обучения рисованию в стиле скетча от преподавателя с международным опытом.
                </p>
                <p class="action-header">
                    <a href="#" class="action-header__link">Убедитесь в этом сами <i class="btn-play"></i></a>
                </p>
            </div>
            <div class="right-part">
                <img src="%=static=%img/assets/header/header-face.png" class="header-face__img" alt="">
            </div>
        </div>
    </div>
</header>
