<div class="program">
    <div class="program-wrapper">
        <h3 class="program-title">Программы обучения</h3>
        <div class="program-content-wrapper">
            <div class="program-item entry-level">
                <div class="program-item__wrapper">
                    <div class="program-item__title">Entry Level</div>
                    <div class="program-item__price">
                        10.000 <i class="rub"></i>
                    </div>
                    <div class="program-item__offer">
                        <ul class="program-item__offer-list">
                            <li class="offer-list__item">Опция</li>
                            <li class="offer-list__item">6 занятий</li>
                            <li class="offer-list__item">Опция</li>
                            <li class="offer-list__item">Доступ к лекциям</li>
                        </ul>
                    </div>
                    <div class="program-item__get">
                        <button class="btn btn-white btn-offer">Получить</button>
                    </div>
                </div>
            </div>
            <div class="program-item basic-level">
                <div class="program-item__wrapper">
                    <div class="program-item__title">Basic</div>
                    <div class="program-item__price">
                        30.000 <i class="rub"></i>
                    </div>
                    <div class="program-item__offer">
                        <ul class="program-item__offer-list">
                            <li class="offer-list__item">Опция</li>
                            <li class="offer-list__item">6 занятий</li>
                            <li class="offer-list__item">Опция</li>
                            <li class="offer-list__item">Доступ к лекциям</li>
                            <li class="offer-list__item">Опция</li>
                        </ul>
                    </div>
                    <div class="program-item__get">
                        <button class="btn btn-white btn-offer">Получить</button>
                    </div>
                </div>
            </div>
            <div class="program-item professional-level">
                <div class="program-item__wrapper">
                    <div class="program-item__title">Profession</div>
                    <div class="program-item__price">
                        50.000 <i class="rub"></i>
                    </div>
                    <div class="program-item__offer">
                        <ul class="program-item__offer-list">
                            <li class="offer-list__item">Опция</li>
                            <li class="offer-list__item">6 занятий</li>
                            <li class="offer-list__item">Опция</li>
                            <li class="offer-list__item">Доступ к лекциям</li>
                            <li class="offer-list__item">Опция</li>
                            <li class="offer-list__item">Доступ к лекциям</li>
                        </ul>
                    </div>
                    <div class="program-item__get">
                        <button class="btn btn-white btn-offer">Получить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
