<div class="profit">
    <div class="profit-wrapper">
        <div class="profit-title">В результвте вы получите</div>
        <div class="profit-list">
            <div class="profit-list__item">
                <div class="profit-item__image"><img class="profit-image"
                                                     src="%=static=%img/assets/profits/result-icon-1.png" alt=""></div>
                <div class="profit-item__title">
                    Возможность обучения для начинающих и людей с более высоким уровнем мастерства.
                </div>
                <div class="profit-item__description">
                    В зависимости от уровня ваших навыков мы поможем вам подобрать ту ступень обучения с которой вам
                    следует начать.
                </div>
            </div>
            <div class="profit-list__item">
                <div class="profit-item__image"><img class="profit-image"
                                                     src="%=static=%img/assets/profits/result-icon-2.png" alt=""></div>
                <div class="profit-item__title">
                    Прогресс в обучении.
                </div>
                <div class="profit-item__description">
                    Уроки выстроены с учетом вашего развития. В процессе обучение не будет однотипных и повторяющихся
                    заданий.
                </div>
            </div>
            <div class="profit-list__item">
                <div class="profit-item__image"><img class="profit-image"
                                                     src="%=static=%img/assets/profits/result-icon-3.png" alt=""></div>
                <div class="profit-item__title">
                    Минимум теории максимум практики.
                </div>
                <div class="profit-item__description">
                    Каждый урок выстроен с упором на практику. Мы даем тот минимум теории который необходим, и все
                    остальное время уделяем практическому содержанию.
                </div>
            </div>
            <div class="profit-list__item">
                <div class="profit-item__image"><img class="profit-image"
                                                     src="%=static=%img/assets/profits/result-icon-4.png" alt=""></div>
                <div class="profit-item__title">
                    Получение обратной связи.
                </div>
                <div class="profit-item__description">
                    В завершении каждого урока вы сможете, сфотографировав этапы своей работы и конечный результат,
                    получить обратную связь от наших преподавателей, которые укажут, на что следует обратить более
                    пристальное внимание.
                </div>
            </div>
        </div>
    </div>
</div>
