.message-content{
  position: relative;
  min-width: 320px;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.message-content-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 1190px;
  min-width: 280px;
  margin: 0 auto;
}

.message-content .left-part,
.message-content .right-part{
  background: $messages-bg;
  width: 50%;
  position: relative;
  z-index: 20;
}

.message-content .left-part .left-part-wrapper{
  color: $purple;
  font-size: 1.375rem;
  font-weight: 300;
  padding: 20px 70px 20px 20px;
  
  & p {
    margin-bottom: 30px;
  }
  
  & .podpis{
    text-align: right;
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

.message-content:after{
  background-color: $red;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: left center;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
  width: 4000px;
  z-index: 1;
}

.attention{
  background: url(%=static=%assets/message-content/fire.png) no-repeat;
  background-position: 0 0;
  color: $purple;
  font-size: .875rem;
  font-weight: 300;
  padding: 0 0 0 50px;
}

.text-row{
  display: block;
}

@media all and (max-width: 1220px){
  .message-content-wrapper{
    margin: 0 20px;
  }
}

@media all and (max-width: 1080px){
  .message-content .left-part{
    width: 60%;
  }
  .message-content .right-part{
    width: 40%;
  }

  .podpis-img{
    max-width: 100%;
  }
}

@media all and (max-width: 980px){
  .message-content:after{
    -webkit-transform: rotate(-53deg);
    -moz-transform: rotate(-53deg);
    -ms-transform: rotate(-53deg);
    -o-transform: rotate(-53deg);
    transform: rotate(-53deg);
  }
}

@media all and (max-width: 920px){
  .message-content .left-part{
    width: 100%;
  }

  .message-content .right-part{
    display: none;
  }

  .message-content:after{
    display: none;
  }

  .message-content .left-part .left-part-wrapper{
    padding: 0;
  }
}

@media all and (max-width: 480px){
  .text-row{
    display: inline;
  }
}