<div class="message-content">
    <div class="message-content-wrapper">
        <div class="left-part">
            <div class="left-part-wrapper"><p>Спасибо, что заказали бесплатную консультацию.</p>
                <p>Мы ценим свое и Ваше время, пожалуйста проверьте, чтобы контактный телефон, который вы указали в
                    форме
                    обратной связи, был включен, наш специалист свяжется с вами в течение 23 секунд.</p>
                <p><span class="text-row">С уважением,</span>
                    команда Sketch School.</p>
                <div class="podpis">
                    <img src="%=static=%img/assets/message-content/podpis.png" alt="" class="podpis-img">
                </div>
                <div class="attention">
                    <span class="text-row">Если урок не пришел вовремя, проверьте папку «Спам» и</span> 
                    <span class="text-row">нажмите на кнопку «Не спам», чтобы в будущем вы</span>
                    <span class="text-row">своевременно получали от нас приятный бонус.</span>
                </div>
            </div>
        </div>
        <div class="right-part">
            <img src="%=static=%img/assets/message-content/face.png" alt="" class="face-img">
        </div>
    </div>
</div>
